<div class="item-container" [class.container]="isItemDetail">
  <div class="top-news">
    <span *ngIf="!isItemDetail" class="position">{{ index }}.</span>

    <span
      ><img class="votearrow" src="../../../../../assets/grayarrow.gif"
    /></span>

    <span class="news-title">
      <a class="news-title-link">{{ item.title }} </a>
      <a href="{{ item.url }}" class="site-link">({{ item.url | url }})</a>
    </span>
  </div>
  <div class="bottom-news">
    <span class="score">{{ item.score }} points</span> by
    <a class="user-news">{{ item.by }}</a>
    <span class="bottom-link"
      ><a>{{ toDate(item.time) | timePast }} hour ago</a></span
    >
    |
    <a class="botton-link">hide</a> |
    <a href="/item/{{ item.id }}" class="botton-link comments"
      >{{ item.descendants }}&nbsp;comments</a
    >
  </div>
</div>
