
.item-container
  padding-bottom: 10px
  .top-news
    padding: 10px 5px
    .position
      font-family: Verdana, Geneva, sans-serif
      font-size: 12pt
      color: #828282
    .votearrow
      margin: 0 5px
      height: 15px
      width: 15px
    .news-title
      font-family: Verdana, Geneva, sans-serif
      font-size: 12pt
      color: #000000
      .site-link
        color: #828282
  .bottom-news
    margin-left: 40px
    font-family: Verdana, Geneva, sans-serif
    font-size: 10pt
    color: #828282
    a
      color: #828282
      margin: 0px 2px
