<app-header> </app-header>
<app-item [item]="story" [isItemDetail]="true"></app-item>
<app-create-form></app-create-form>
<app-comment *ngFor="let item of comments" [item]="item"></app-comment>
<app-footer></app-footer>
