<div class="container">
  <ul class="list">
    <li class="item">
      <a href="/news"><img src="../../../../assets/y18.gif" /></a>
    </li>
    <li class="item"><a href="">Hacker News</a></li>
    <li class="item responsive-item"><a>new</a> |</li>

    <li class="item responsive-item"><a>past</a> |</li>
    <li class="item responsive-item"><a>comments</a> |</li>
    <li class="item responsive-item"><a>ask</a> |</li>
    <li class="item responsive-item"><a>show</a> |</li>
    <li class="item responsive-item"><a>jobs</a> |</li>
    <li class="item responsive-item"><a>submit</a></li>
    <li class="item">
      <span class="pagetop">
        <a>login</a>
      </span>
    </li>
  </ul>
</div>
