
a
  color: #000000
  text-decoration: none
.list
  display: flex
  list-style: None
  min-width: 796px
  width: 100%
  background-color: rgb(255, 102, 0)
  margin: auto
  padding-inline-start: 0
  position: relative
  .item
    margin-left: 2px
    margin-right: 5px
    margin-top: 5px
    font-size: 12pt
    line-height: 12px
    font-family: Verdana, Geneva, sans-serif
    &:nth-child(2)
      font-weight: bold
      margin-right: 10px
      margin-left: 5px
    &:first-child
      margin: 2px
      width: 18px
      aspect-ratio: auto 18 / 18
      height: 18px
      border: 1px white solid
    &:last-child
      position: absolute
      right: 0

@media only screen and (min-width: 250px) and (max-width: 750px)
  .list
    min-width: 0
    height: 45px
    .item
      font-size: 9pt
      &:first-child
        margin-top: 20px
        margin-right: 5px
      &:last-child
        display: none
      &:nth-child(2)
        position: absolute
        left: 25px
        top: 8px
    .responsive-item
      margin-top: 30px
