.container

  padding: 20px 0px
  .comment
    width: 689px
    margin-left: 20px
  .submit
    font-family: monospace
    font-size: 10pt
    background-color: white
    box-sizing: border-box
    margin-left: 20px

@media only screen and (min-width: 250px) and (max-width: 750px)
  .comment
    width: 90% !important
