
.container
  text-align: center
  .line
    width: 100%
    margin: auto
    background-color: rgb(255, 102, 0)
    height: 3px
  a
    color: #000000

  .list
    display: flex
    list-style: None
    width: 450px
    margin: 20px auto
    padding-inline-start: 0
    position: relative
    .item
      margin-left: 2px
      margin-right: 5px
      margin-top: 5px
      font-size: 10pt
      line-height: 12px
      font-family: Verdana, Geneva, sans-serif
  .search
    margin-top: 20px
    padding-bottom: 20px
    span
      color: #828282

@media only screen and (min-width: 250px) and (max-width: 750px)
  .list
    width: 100%
    .item
      font-size: 7pt !important
