<div class="container">
  <div class="line"></div>

  <ul class="list">
    <li class="item"><a>Guidelines</a> |</li>

    <li class="item"><a>FAQ</a> |</li>

    <li class="item"><a>Lists</a> |</li>

    <li class="item"><a>API</a> |</li>

    <li class="item"><a>Security</a> |</li>

    <li class="item"><a>Legal</a> |</li>

    <li class="item"><a>Apply to YC</a> |</li>

    <li class="item"><a>Contact</a></li>
  </ul>
  <div class="search">
    <span>Search: </span>
    <input type="text" (input)="onChangeText($event)" class="search-input" />
  </div>
</div>
