<div class="container">
  <div [style.margin-left]="20 * level + 'px'">
    <span class="owner"
      ><img class="votearrow" src="../../../../../assets/grayarrow.gif" />
      {{ item.by }} {{ toDate(item.time) | timePast }} | next
      <span (click)="switchHide()" class="hide"
        >[{{ !hide ? "-" : item.kids.length + " more" }}]</span
      >
    </span>
    <p class="text" [innerText]="item.text | cleanText"></p>
  </div>
</div>
<div *ngIf="!hide">
  <app-comment
    *ngFor="let item of comments"
    [item]="item"
    [level]="level + 1"
  ></app-comment>
</div>
