/* You can add global styles to this file, and also import other style files */
.container
  width: 85%
  margin-left: 7.5%
  background-color: rgb(246, 246, 239)

@media only screen and (min-width: 250px) and (max-width: 750px)
  .container
    width: 100%
    min-width: 0
    margin-left: 0px
  body
    margin: 0
